* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #f3f5f6;
 
   
}

a {
    color: black;
    font-size: 14px;
    text-decoration: none;

}

.list div {
    display: block;
}

.list {
    margin-top: 16px;
}

.list a:hover {
    color: rgb(126, 158, 255);
}

.warp {
 
    display: flex;
    /* width: 1200px;
    margin: 0 auto; */
}

.warp::after {
    content: "";
    display: block;
    height: 0px;
    line-height: 0px;
    font-size: 0px;
    clear: both;
}


.warp .list {
    width: 124px;
    /* float: left;  */
}

.warp .list div {
    height: 36px;

    padding: 10px;
    box-sizing: border-box;
}

.list div {

    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;

}

/* .list .about{
background-image: url(./img/right.png);
} */
.cont {

    margin-left: 30px;

    box-sizing: border-box;
}

.cont div{
    display: block;
}

p {
    margin: 0;
    font-size: 16px;
    color: #1c1f21;
    line-height: 32px;
    font-weight: bold;
    margin-bottom: 16px;
    margin-top: 16px;

}

h3 {
    margin: 0;
    font-size: 16px;
    color: #37f;
    line-height: 32px;
    font-weight: bold;
    margin-bottom: 16px;
}

.course {
    background-color: #fff;
    width: 956px;


}

.course .box {
    padding: 16px 0 26px 24px;
    display: inline-block;

}

.course .course_list {
    margin-right: 42px;
    display: inline-block;
    width: 222px;


}

.top_text::after {
    content: "";
    display: block;
    height: 0px;
    line-height: 0px;
    font-size: 0px;
    clear: both;
}

.course .course_list img {
    width: 42px;
    height: 42px;


}

.course .course_list .title {
    float: left;
    margin-left: 10px;
}

.course .course_list .title a {
    font-size: 16px;
    font-weight: bold;
}

.course_list span {
    font-size: 12px;
    color: #545c63;
    padding-right: 12px;
}

.bottom_text span {
    font-size: 14px;
    color: #545c63;
    padding-right: 12px;
}

.Underline {
    border-bottom: 1px solid rgba(177, 177, 177, 0.4);
}

.currency {
    background-image: url(../img/right.png);
    color: white;
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;
}